* {
    margin: 0;
    padding: 0;
    color: #75B79E;
    box-sizing: border-box;

}

body { 
    background-color: #EEF9BF;
    font-family: Roboto;
    

}

h1 {
    font-size: 8vw;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;

    text-align: center;
    padding: 20px;
}